publish/Application Files/GranitEditor_1_0_0_14/HUFTransactions.xsd.deploy

<?xml version="1.0" encoding="utf-8"?>
<!-- generated by https://www.w3.org/2000/04/schema_hack/dtd2xsd.pl -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xs:element name='HUFTransactions'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref='CreationDateAndTime' minOccurs='0' maxOccurs='1'/>
        <xs:element ref='ScheduledDate' minOccurs='0' maxOccurs='1'/>
        <xs:element ref='Transaction' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='version' type='xs:string' fixed='1.01'/>
    </xs:complexType>
  </xs:element>

  <xs:element name='CreationDateAndTime' type="xs:dateTime"> </xs:element>

  <xs:element name='ScheduledDate' type='xs:date'> </xs:element>

  <xs:element name='Transaction'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref='Originator'/>
        <xs:element ref='Beneficiary'/>
        <xs:element ref='Amount'/>
        <xs:element ref='RequestedExecutionDate' minOccurs='0' maxOccurs='1'/>
        <xs:element ref='RemittanceInfo' minOccurs='0' maxOccurs='1'/>
        <xs:element ref='CustomerSpecifiedReference' minOccurs='0' maxOccurs='1'/>
        <xs:element ref='StatisticalInfo' minOccurs='0' maxOccurs='1'/>
      </xs:sequence>
      <xs:attribute name='ProcessingMode' use='optional'>
        <xs:simpleType>
          <xs:restriction base='xs:string'>
            <xs:enumeration value='VIBER'/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name='Originator'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref='Name' minOccurs='0' maxOccurs='1'/>
        <xs:element ref='Account'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name='Name' type='xs:string'> </xs:element>

  <xs:element name='Account'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref='AccountNumber'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name='AccountNumber'>
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base='xs:nonNegativeInteger'>
          <xs:attribute name='Type' use='optional'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='GIRO'/>
                <xs:enumeration value='IBAN'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name='Beneficiary'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref='Name'/>
        <xs:element ref='CountryOfRegistration' minOccurs='0' maxOccurs='1'/>
        <xs:element ref='Account'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name='CountryOfRegistration'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref='CountryCode' minOccurs='0' maxOccurs='1'/>
        <xs:element ref='Country' minOccurs='0' maxOccurs='1'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name='CountryCode' type='xs:string'> </xs:element>

  <xs:element name='Country'>
    <xs:complexType mixed='true'>
    </xs:complexType>
  </xs:element>

  <xs:element name='Amount'>
    <xs:complexType mixed='true'>
      <xs:attribute name='Currency' type='xs:string' fixed='HUF'/>
    </xs:complexType>
  </xs:element>

  <xs:element name='RequestedExecutionDate' type='xs:date'> </xs:element>

  <xs:element name='RemittanceInfo'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref='Text' minOccurs='0' maxOccurs='4'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name='Text' type='xs:string'> </xs:element>

  <xs:element name='CustomerSpecifiedReference'>
    <xs:complexType mixed='true'>
    </xs:complexType>
  </xs:element>

  <xs:element name='StatisticalInfo'>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref='StatisticalCode'/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name='StatisticalCode'>
    <xs:complexType mixed='true'>
    </xs:complexType>
  </xs:element>
</xs:schema>
